$color-prim: #FF9900;
$color-additional: #FF7549;
$color-heading: #2F281E;
$color-text: #544837;
$color-border: #BCD0E5;
$color-button-text: #173A56;
$color-light: #FFFFFF;

$media-laptop: 1024px;
$media-tablet: 768px;
$media-mobile: 414px;
$media-small-mobile: 375px;